@import "tailwindcss";

/* penny pilot background */

.pennypilot-bg {
  background-image: url("/images/pennypilot_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* main application */

.app-container {
  zoom: 0.8;
}

.app-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.app-main {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
}

.app-content {
  flex: 1;
  min-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px;
}


/* Tablet < 1024px */

@media (max-width: 1023px) {
  .app-content {
    padding: 16px;
  }
}

/* Mobile < 768px */

@media (max-width: 767px) {
  .app-content {
    padding: 6px;
  }
}

/*  Small Mobile  < 480px */

@media (max-width: 479px) {
  .app-content {
    padding: 4px;
  }
}

/* mobile css */
.mobile-menu-button {
  display: none;
}

@media (max-width: 768px) {
  .mobile-menu-button {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 30;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: transparent;

    font-size: 20px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .app-layout {
    display: block;
    width: 100%;
  }

  .app-main {
    width: 100%;
    margin-left: 0;
  }
}
